<div	class="card-content">
	<div	class="card-img">
					<img	src="{{jugador.url}}"	alt="">
	</div>
	<div	class="card-desc">
					<img src="{{jugador.escudo}}" class="escudo">

		<h3>
			{{jugador.nombre}}

		</h3>
		<p>{{jugador.nombre}} es un jugador del {{jugador.club}} que juega de {{jugador.posicion}} con el dorsal {{jugador.dorsal}} .  </p>
	</div>
</div>
