<div	class="container	content">
	<div	class="row">
		<div	class="col-md-6	offset-md-3">
			<span	class="anchor"	id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div	class="card	card-outline-secondary">
				<div	class="card-header">
								<h3	class="mb-0">Añadir jugador</h3>
				</div>
					<div	class="card-body">
						<form>
							<div	class="form-group">
								<label	for="nombre">Nombre</label>
								<input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
							</div>
							<div	class="form-group">
								<label	for="Imagen	Url">Imagen	Jugador (https://www.transfermarkt.com/)</label>
								<input	type="text"	class="form-control"	id="url"	placeholder="Ingresar url..." #url>
							</div>

							<div class="form-group">
							  <label for="sel1">Club:</label>
							  <select class="form-control" id="sel1" #club>
								<option value="1">Arsenal</option>
								<option value="2">Manchester City</option>
							  </select>
							</div>

							<div	class="form-group">
								<label	for="posicion">Posicion</label>
								<input	type="text"	class="form-control"	id="posicion"	placeholder="Ingresar posicion..." #posicion>
							</div>

							<div	class="form-group">
								<label	for="Dorsal">Dorsal</label>
								<input	type="text"	class="form-control"	id="dorsal"	placeholder="Ingresar dorsal..." #dorsal>
							</div>

							
							<button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value,club.value,posicion.value,dorsal.value,url.value)">Guardar!</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr	class="mb-5">
		<div	class="row row-flex">
			<app-jugador *ngFor="let j of jugadores" [jugador]="j"></app-jugador>
		</div>
</div>